<!Doctype html>

<html>

<head>
    <title>Login | Residence App</title>
    <link rel="stylesheet" href="/assets/css/loginStyle.css">
</head>

<body>
        <table align="right" id="logo">
                <tr><img src="/assets/images/UGLogo.webp" alt="University of Ghana logo"></tr>
            </table>

    <h1>University of Ghana</h1>

   <form action="/ugresidential/login" method="POST" id="frmLogin">
    <br><input type="text" placeholder="Student ID" name="tfStudentID"   id="tfStudentID"><br>
    <input type="password" placeholder="Pin" id="tfPin" name="tfPin"><br>
    <input type="submit" value="Login" id="btnLogin">
    
</form> 

</body>

</html>
